<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RamblerRSSApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E00DAB9A1C61104000D801AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0A10DD91C694BC4008E24A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0A10E021C694EFA008E24A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0A10E121C694FBC008E24A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
